@model IEnumerable<FinanceApp.Models.Expense>
<h2>Expenses</h2>

    <div class="container">
        <table class="table table-bordered">
    <thead class="table-light">
        <tr>
            <th>Category</th>
            <th>Amount</th>
            <th>Description</th>
                <th>Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var expense in Model)
        {
            <tr>
                <td>@expense.Category</td>
                <td>@expense.Amount $</td>
                <td>@expense.Description</td>
                <td>@expense.Date.ToShortDateString()</td>
            </tr>
        }
    </tbody>
    </table>
    </div>

  